{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Load model{% endblock %}
{% block page_content %}

<style type="text/css">
    .block1{
        width: 200px;
    }
</style>

<div class="form form-vertical" role="form", method="POST">
    <h1>Please, load your model.</h1>
    <form method="POST" action="/loadmodel" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.input_file) }}
        {{ wtf.form_field(form.dxvalue) }}
        {{ wtf.form_field(form.model_name) }}
        {{ wtf.form_field(form.submit) }}
    </form>
</div>
<object data="data:image/PNG;base64,{{figure}}"  type="image/png" width = "400", height = "400"><canvas id="canvas" height='150' width='350'></canvas>
    <style>
      html, #canvas {
        width: 100%;
        height: 50%;
      }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/people_walking.js') }}" canvas="canvas"></script>
 </object>
{% endblock %}